# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# Coverage
coverage/

# Runtime data
*.pid
*.pid.lock

# Sensitive environment files
.env
.env.old
*.key
*.csr
*.crt

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Debugger configurations
*.launch

# Temporary files
*.tmp
*.temp
*.swp

# Uploads and temporary assets
uploads/
temp/
ssh/

# Private SSH keys
ssh/id_rsa_backend
ssh/id_rsa_backend.pub

# MongoDB files
*.lock

# Miscellaneous
*.bak
*.orig

# TypeScript output
*.js.map
*.d.ts

# Exclude combined and error logs if generated
error.log
combined.log
